@use "@/utils/master" as m;

.clickable-text {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: 700;
  font-size: 1rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  & a,
  & button {
    text-decoration: none;
    color: rgba(m.$colors_font, 1);
  }
}

.light-text-on-hover {
  text-shadow: 0 0 0 m.$colors_font;
  color: m.$colors_font;

  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    text-shadow: 0 0 5px m.$colors_font;
    color: #fff !important;
  }
}

.error {
  color: m.$colors_error;
  text-shadow: 0 0 1px m.$colors_error;
  white-space: pre-line;
}
